.main{
    max-width: 40rem;
    margin: 0px auto;
    margin-top: 5rem;
}


.search-area{
    position: relative;
}

.clear{
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    width: 2rem;
    border: none;
    background-color: white;
    font-size: 1rem;
    border-radius: 50%;
    border: 1px ;
}

.clear:hover{
    background-color: aliceblue;
}

#searchbar{
    font-size: 2rem;
    border:none;
 border-bottom: 1px solid gray;
 /* overflow: inherit; */
 padding-right: 3rem;
}

.options{
    font-size: 1rem;
}

.list{
    border: none;
    padding-right: 3rem;
    overflow-x: hidden;
    /* overflow-wrap: hidden; */
    
    
}
.suggestion-list{
    max-width: 40rem; 
    background-color: white;
    /* margin-right: 3rem; */
    
}
.result-lists{
    margin-right: 3rem;
}